server:
  port: 8080

spring:
  application:
    name: grade_analysis
  datasource:
    url: jdbc:postgresql://8.137.71.213:5432/zm_app?sslmode=disable&preferQueryMode=simple
    username: remote
    password: 908623
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
  jpa:
    hibernate:
      ddl-auto: update  # create, create-drop, update, validate, none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true

    # 分页配置
    open-in-view: false


logging:
  level:
    org.springframework.jdbc: DEBUG
    org.mybatis: DEBUG
    org.apache.ibatis: trace